<div class="summary">
  <div class="title">USA Report Summary</div>
  <div class="data-blocks-group">

    <div class="data-blocks">
      <div class="data-block-title">Total Confirmed Cases</div>
      <div class="data-block-value">{{USData.TotalConfirmed}}</div>
    </div>

    <div class="data-blocks">
      <div class="data-block-title">Total Recovered Cases</div>
      <div class="data-block-value">{{USData.TotalRecovered}}</div>
    </div>

    <div class="data-blocks">
      <div class="data-block-title">Total Deaths</div>
      <div class="data-block-value">{{USData.TotalDeaths}}</div>
    </div>

    <div class="data-blocks">
      <div class="data-block-title">New Confirmed Cases</div>
      <div class="data-block-value">{{USData.NewConfirmed}}</div>
    </div>

    <div class="data-blocks">
      <div class="data-block-title">New Recovered Cases</div>
      <div class="data-block-value">{{USData.NewRecovered}}</div>
    </div>

    <div class="data-blocks">
      <div class="data-block-title">New Deaths</div>
      <div class="data-block-value">{{USData.NewDeaths}}</div>
    </div>


  </div>
</div>
