/* You can add global styles to this file, and also import other style files */
/*Import one of google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
  color: white;
}
body{
  background: darkslategray;

  /*come with google font that we have alreaddy imported  and put it in
  style.css*/
  font-family: 'Poppins', sans-serif;
}
